.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding: 0em 0.5em;
  position: relative;
  height: 230px;
}

h1 {
  border-bottom: 0.1em solid #e7e5e5;
  padding-bottom: 0.5em;
}

h1 span {
  border-bottom: 0.1em solid gray;
  padding-bottom: 0.5em;
}

h3 {
  margin: 0.25em 0;
}

p {
  margin: 0;
  font-size: small;
}

.footer {
  position: absolute;
  bottom: 0;
  font-size: x-small;
}

* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 0.3em;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-12 {
  width: 100%;
}

.footer .content .author-name {
  padding: 0.5em 0;
  display: block;
}
